.bento {

    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.434);

}

button {
    background-color: none;
    border: none;
}


.filter-wrapper {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
}

.report-wrapper {
    display: flex;
    height: 50%;
    flex-direction: column;
    width: 100%;
}

.line-header {
    display: flex;
    justify-content: space-around;
}

.report {

    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 78%;
    
}

.tipos-despesas-container {
    width: 100%;
    height: 82%;
}

#resumo {

    font-size: 14px;
}



.total-despesas {

    width: 100%;
    height: 15%;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

main {

    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
    justify-content: center;
    
}



h1 {

    font-weight: 500;

}

h2 {

    font-size: 16px;
}


.main-wrapper {
    display: flex;
    height: 86%;
    gap: 20px;
    width: 90vw;
}

td {
    padding: 19px;
    text-align: left;
}

th {

    padding: 5px 19px;
    text-align: left;
     
}



thead {
position: sticky;
  top: 0;
    background-color: #ECEAEA;
}

table {

    width: 100%;
    height: 100%;
    border-spacing: 0;
    table-layout: fixed;
    border-collapse: collapse;
    
}

.btn-add-wrapper {
    cursor: pointer;
}

img, button {

    background-color: transparent;
}

.popup-wrapper {
    position: absolute;
    display: none;
    align-self: center;
    justify-self: center;
}

.despesa-wrapper, .tipo-wrapper, .despesa-wrapper {
    position: absolute;
    display: none;
    align-self: center;
    justify-self: center;
}

#bg-blur {
    display: none;
    backdrop-filter: blur(10px);
}

.popup-wrapper, .tipo-wrapper, .despesa-wrapper {
    padding: 25px;
    z-index:2;
}

@media (max-width: 1007px) {

    p, span, button {
        font-size: 10px!important;
    }

    h2 {
        font-size: 12px!important;
    }

    th {
        font-size: 10px!important;
    }
    
}

@media (max-width: 780px) {

    .main-wrapper {
        flex-direction: column!important;
        height: 110vh!important;
    }

    .report {
        width: 100%!important;
    }

    .resumo-tipo-wrapper {
        width: 100%!important;
        height: 50%!important;
        gap: 10px;
    }

    .tipos-despesas {

        height: 100px!important;

    }

    .total-despesas {
        height: fit-content;
    }

    .main-before {

        justify-content: center;
        align-items: center;
    }

    #bg-blur {
        height: 150vh!important;
    }
}