.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 96vw;
}

.app .alinha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    min-width: 60%;
}

.app .alinha .topo {
    width: 100%;
}

.app .alinha .topo .divoltar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    padding: 5px;
}

.app .topo .divoltar p {
    margin: 0px
}

.app .topo h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    margin: 20px auto 50px auto;
}


.app .fundotabela {
    height: 300px;
    width: 100%;
    overflow-y: scroll;
    border-radius: 10px;
    background-color: white;
}


.app table {
    min-height: fit-content;
    min-width: 100%;
    border-spacing: 0;
}

.app .fundotabela thead tr {
    border-radius: 10px;
    background-color: #a8a8a8;
    position: sticky;
    top: 0;
    z-index: 1;

}

.app .fundotabela thead tr th {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    padding: 10px 20px;
    background-color: transparent;
    color: black;

}

.app .fundotabela tbody td {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    padding: 10px 20px;
    height: fit-content;
    top: 0;
    color: rgb(15, 15, 15);
}

.app .fundotabela tbody td i {
    font-size: 22px;
    cursor: pointer;

}




#tabela tbody tr:nth-child(even) {
    background-color: #e2e2e2;
}

#tabela tbody tr:nth-child(odd) {
    background-color: white;
}

.app .fundotabela::-webkit-scrollbar {
    background-color: #c9c9c9ce;
    border-radius: 10px;
    width: 10px;
    padding: 3px;
}

.app .fundotabela::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 10px;
}



.app .fundoComanda {
    bottom: 0;
    right: 0;
    width: 96vw;
    height: 92vh;
    background-color: rgba(0, 0, 0, 0.764);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.app .fundoComanda .janelaComanda {
    width: 50%;
    height: 95%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;


}

.app .fundoComanda .janelaComanda .fechar {
    display: flex;
    align-items: center;
    text-align: start;
    padding: 0px 15px;
    font-size: 14px;
    gap: 7px;
    height: 10px;
    overflow: visible;
    width: fit-content;
    cursor: pointer;
}


.app .fundoComanda .janelaComanda .infos {
    max-width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    padding-left: 15px;
    justify-content: center;
}

.app .fundoComanda .janelaComanda .infos p {
    margin: 8px;
}



.app .fundoComanda .janelaComanda .itens {
    width: 100%;
    height: 40%;
}

.app .fundoComanda .janelaComanda .itens .p1 {
    font-size: 13px;
    font-weight: 500;
    margin-left: 15px;
}

.app .fundoComanda .janelaComanda .fundotable {
    width: 95%;
    height: 80%;
    overflow-y: auto;
    margin: auto;
    border-radius: 10px;
}

.app .fundotable::-webkit-scrollbar {
    background-color: #c9c9c9ce;
    border-radius: 10px;
    width: 10px;
    padding: 3px;
}

.app .fundotable::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 10px;
}

.app .fundoComanda .janelaComanda .itens .fundotable table .nome {
    max-width: 250px;
    width: 250px;
    overflow: hidden;
    text-wrap: nowrap;
}

.app .fundoComanda .janelaComanda .itens .fundotable table th {
    padding: 10px 15px;
    text-align: left;
    font-size: 13px;
    font-weight: 300;
    background-color: #a8a8a8;
}

.app .fundoComanda .janelaComanda .itens .fundotable table td {
    padding: 10px 15px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
}

.app .fundotable table thead tr {
    border-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 3;
}


.app .fundoComanda .janelaComanda .itens .fundotable table tr:nth-child(even) {
    background-color: #e2e2e2;
}

.app .fundoComanda .janelaComanda .itens .fundotable table tr:nth-child(odd) {
    background-color: white;
}


.app .fundoComanda .janelaComanda .valortotal {
    display: flex;
    gap: 7px;
    font-size: 16px;
    font-weight: 500;
}

.app .fundoComanda .janelaComanda .valortotal p {
    margin-left: 15px;
}




@media (max-width: 1000px) {
    body {
        height: fit-content;
        background-color: #EDEDED;
    }

    .secall {
        background-color: transparent;
    }

    .app {

        transform: translateY(-60px);
    }

}

@media (max-width: 700px) {
    .app {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        margin: 0;
        height: fit-content;
    }

    .app .alinha {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 400px;
        width: 95%;
    }

    .app .alinha .topo {
        width: 100%;
    }

    .app .alinha .topo .divoltar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: fit-content;
        height: fit-content;
        cursor: pointer;
        padding: 5px;
        font-size: 14px;
        margin-top: 50px;
    }

    .app .topo .divoltar p {
        margin: 0px
    }

    .app .topo h1 {
        text-align: center;
        font-size: 20px;
        font-weight: 200;
        margin: 20px auto 50px auto;
    }


    .app .fundotabela {
        /* min-height: 200px; */
        min-height: 350px;
        width: 100%;
        overflow: auto;
        border-radius: 10px;
        background-color: white;
    }


    .app table {
        min-height: fit-content;
        min-width: 100%;
        border-spacing: 0;
    }

    .app .fundotabela thead tr {
        border-radius: 10px;
        background-color: #a8a8a8;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .app .fundotabela thead tr th {
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        padding: 10px 20px;
        background-color: transparent;
        color: black;
        font-size: 13px;

    }

    .app .fundotabela tbody td {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        padding: 10px 20px;
        height: fit-content;
        top: 0;
        color: rgb(15, 15, 15);
    }




    .app .fundoComanda {
        bottom: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.764);
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        transform: translateY(32vh);
        padding: 50px 0px;
    }

    .app .fundoComanda .janelaComanda {
        width: 95%;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        border-radius: 10px;
        margin-top: 50px;
    }


}


@media (max-width: 805px) {

    .fundotabela {
        max-width: 95vw;
        overflow: auto;
    }

    .fundotabela table th {
        min-width: 50px;
    }

    #thdata {
        min-width: 150px;
    }

    #thvalor {
        min-width: 100px;
    }
}


@media (min-width: 700px) and (max-width: 1000px){

    .app{
        width: 100vw;
    }

    .app .fundoComanda {
        bottom: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.764);
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        transform: translateY(32vh);
        padding: 50px 0px;
    }

    .app .fundoComanda .janelaComanda {
        width: 70%;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        border-radius: 10px;
        margin-top: 50px;
    }
}