@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter";
}

.navegation{
    background-color: white;
    width: 4vw;
    height: 92vh;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.192);
}


.navegation .icone{
    height: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;   
    cursor: pointer;
}

.alinha{
    color: #00000050 !important;
    cursor: default !important;
}


.navegation .modulos{
    height: 100px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00000059;
}

#icon1{
    color: black !important;
    cursor: pointer !important;
}

/*      SECTION DO CONTEUDO      */

.secall .app{
    width: 96vw;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

